<html lang="en">
	<head>
		<title>Bootstrap Example</title>
		<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
			<style>
				/* Make the image fully responsive */
				.carousel-inner img {
				width: 100%;
				height: 50%;
				margin-top: 0;
				padding: 0;
				margin: 0;
				}

				.jumbotron{
					margin-bottom: 0%;
					background-image: url(waveform.jpg);
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
				}
			</style>
	</head>
	
	<!-- This is the basic template for the home page made to adjust the design with static html first. This is for designing purposes-->
	<body>
		<!--This is the head banner 
		<div class="jumbotron jumbotron-fluid text-center"> 
			<h1 class="container-fluid">Bootstrap Tutorial</h1>
			<p>Bootstrap is the most popular 	HTML, CSS...</p>
		</div>-->

		<!-- Navbar Logo-->
		<div class="container-fluid" style="padding: 0; margin: 0;">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top " style="margin-bottom: 0;">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Tour the Evidence</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">News</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>    
				</ul>
			</div>  
		</nav>
		<br>
		</div>

		<!--Photo Carocel-->
		
		<div id="myCarousel" class="carousel slide" data-ride="carousel">

			<!-- Indicators -->
			<ul class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1">
				</li>
			</ul>

			<!-- The slideshow -->
			<div class="carousel-inner">
				<div class="carousel-item active">
			  		<img src="pn1.jpg" alt="Paranormal1">
				</div>
				<div class="carousel-item">
			  		<img src="pn2.jpg" alt="Paranormal2">
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#myCarousel" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>


			<!-- Container 1 = Function in views -->
			<!--This Content will be a contianer that will be dynamic depending on what the user selects from the menu options -->
			<div class ="container-fluid">
			    <h1>Heading for what the page is about</h1>    
			</div>
			
			<!-- Container 2 -->
			<!--This Content will be a contianer that will be dynamic depending on what the user selects from the menu options -->
			<div class="container-fluid p-2 my-2 bg-dark text-white">
	            <h1>News Container</h1>
	            <p>Newspost</p>
	        </div>

	        <!-- Container 3 -->
			<div class ="container-fluid">
			    <h1>Link based Dynamic content 1</h1>    
			</div>
		</div>		
		<!-- Footer/references -->
		<div class="jumbotron text-center align-bottom" style=" margin-bottom:0">
  			<p>Footer</p>
		</div>
		<p></p>
	</body>
</html>